<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<p><h3>Добавление пользователя</h3></p>
<form th:method="POST" th:action="@{/add}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <p/>
    <label for="fatherName">Введите отчество: </label>
    <input type="text" th:field="*{fatherName}" id="fatherName"/>
    <p/>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <p/>
    <label for="age">Введите возраст: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <p/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>